* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: url("assets/images/backgroundMain.jpg") no-repeat;
  background-position-x: center;
  font-family: "Arial";
}
